@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.Title = "Reset Password";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en"
      dir="ltr"
      data-bs-theme="dark"
      data-color-theme="Blue_Theme"
      data-layout="vertical">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon icon-->
    <link rel="shortcut icon"
          type="image/png"
          href="../assets/images/logos/favicon.png" />

    <!-- Core Css -->
    <link rel="stylesheet" href="../assets/css/styles.css" />

    <title>visamo</title>
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <img src="../assets/images/logos/loader.svg"
             alt="loader"
             class="lds-ripple img-fluid" />
    </div>
    <div id="main-wrapper" class="p-0 bg-white">
        <div class="auth-login position-relative overflow-hidden d-flex align-items-center justify-content-center px-7 px-xxl-0 rounded-3 h-n20">
            <div class="auth-login-shape position-relative w-100">
                <div class="auth-login-wrapper card mb-0 container position-relative z-1 h-100 max-h-770"
                     data-simplebar>
                    <div class="card-body">
                        <a href="../dark/index.html" class="">

                            <img src="~/../assets/images/logos/logo1.png" height="69px" class="light-logo" alt="Logo-light" />
                        </a>
                        <div class="row align-items-center justify-content-around pt-6 pb-5">
                            <div class="col-lg-6 col-xl-5 d-none d-lg-block">
                                <div class="text-center text-lg-start">
                                    <img src="../assets/images/backgrounds/login-security.png"
                                         alt=""
                                         class="img-fluid" />
                                </div>
                                @if (!string.IsNullOrEmpty(ViewBag.Message))
                                {
                                    <div class="alert alert-danger">@ViewBag.Message</div>
                                }

                                <form method="post" action="@Url.Action("resetpassword", "Admin")">
                                    <input type="hidden" name="token" value="@ViewBag.Token" />

                                    <div class="form-group">
                                        <label for="newPassword">New Password</label>
                                        <input type="password" name="newPassword" class="form-control" required />
                                    </div>

                                    <button type="submit" class="btn btn-success mt-3">Reset Password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    function handleColorTheme(e) {
                        $("html").attr("data-color-theme", e);
                        $(e).prop("checked", !0);
                    }
                </script>

            </div>
        </div>
    </div>

    <div class="dark-transparent sidebartoggler"></div>

    <!-- Import Js Files -->
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="../assets/js/theme/app.dark.init.js"></script>
    <script src="../assets/js/theme/theme.js"></script>
    <script src="../assets/js/theme/app.min.js"></script>
    <script src="../assets/js/theme/sidebarmenu.js"></script>
    <script src="../assets/js/theme/feather.min.js"></script>

    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>
</html>
@*
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-danger">@ViewBag.Message</div>
}

<form    action="@Url.Action("resetpassword", "Admin")">
    <input type="hidden" name="token" value="@ViewBag.Token" />

    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" name="newPassword" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-success mt-3">Reset Password</button>
</form> *@