@model IEnumerable<WebApplication3.Models.Complain>

@{
    ViewData["Title"] = "complainview";
    Layout = "~/Views/Shared/security.cshtml";
}
<div class="container py-5">

    <div class="card">
        <div class="card-body">
            <div class="mb-4 pb-2 align-items-center">
                <h5 class="mb-0">Complain List</h5>
               @*   <a asp-action="Create" class="btn btn-primary">Add Complain</a> *@
            </div>
            <div class="table-responsive pb-4">
                <table id="all-student" class="table table-striped table-bordered border text-nowrap align-middle">
                    <thead>
                        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personname)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Cdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personname)
            </td>
          
                                <td>
                                    @item.Cdate.ToString("dd-MM-yyyy")
                                </td>
                                <td>
                                    @item.Rdate.ToString("dd-MM-yyyy")
                                </td>

            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                              @*   <td>
                                    <a asp-action="ComplainEdit" asp-route-id="@item.Cid" class="text-primary">
                                        <i class="ti ti-pencil fs-7"></i>
                                    </a>
                                    <a asp-action="Details" asp-route-id="@item.Cid" class="text-success ms-2">
                                        <i class="ti ti-eye fs-7"></i>
                                    </a>
                                    <a asp-action="DeleteComplain" asp-route-id="@item.Cid" onclick="return confirm('Are you sure you want to delete this user?')" class="text-danger ms-2">
                                        <i class="ti ti-trash fs-7"></i>
                                    </a>
                                </td> *@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    /* Enhance table design */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    .table thead th {
        text-transform: uppercase;
        text-align: center;
    }

    .table td,
    .table th {
        text-align: left;
        vertical-align: middle;
    }

    .btn {
        text-transform: uppercase;
        font-size: 0.875rem;
    }

    .container h1 {
        color: #333;
    }
</style>