@model IEnumerable<WebApplication3.Models.Visitor>

@{
    ViewData["Title"] = "visitor";
    Layout = "~/Views/Shared/security.cshtml";
}

<div class="container py-5">

    <div class="card">
        <div class="card-body">
            <div class="mb-4 pb-2 align-items-center">
                <h5 class="mb-0">Complain List</h5>
                @*   <a asp-action="Create" class="btn btn-primary">Add Complain</a> *@
            </div>
            <div class="table-responsive pb-4">
                <table id="all-student" class="table table-striped table-bordered border text-nowrap align-middle">
                    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numberofvisitor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datetime)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.Wingno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flatno)
            </th> *@
            
           <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                                <td>
                                    (@Html.DisplayFor(modelItem => item.Wingno)-@Html.DisplayFor(modelItem => item.Flatno))&nbsp; @Html.DisplayFor(modelItem => item.Vname)
                                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numberofvisitor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datetime)
            </td>           
           
               <td>
                    <a asp-action="VisitorEdit" asp-route-id="@item.Vid" class="text-primary">
                        <i class="ti ti-pencil fs-7"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Vid" class="text-success ms-2">
                        <i class="ti ti-eye fs-7"></i>
                    </a>
                    <a asp-action="DeleteVisitor" asp-route-id="@item.Vid" class="text-danger ms-2" onclick="return confirm('Are you sure you want to delete this Details?')" aria-label="Delete visitor">
                        <i class="ti ti-trash fs-7"></i>
                    </a>
                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    /* Enhance table design */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    .table thead th {
        text-transform: uppercase;
        text-align: center;
    }

    .table td,
    .table th {
        text-align: left;
        vertical-align: middle;
    }

    .btn {
        text-transform: uppercase;
        font-size: 0.875rem;
    }

    .container h1 {
        color: #333;
    }
</style>