@model IEnumerable<WebApplication3.Models.Service>

@{
    ViewData["Title"] = "ViewService";
    Layout = "~/Views/Shared/resident.cshtml";
}

<div class="container py-5">

    <div class="card">
        <div class="card-body">
            <div class="mb-4 pb-2 align-items-center">
                <h5 class="mb-0">Service History</h5>
                <br/>
                <a asp-action="Service" class="btn btn-primary">Add Service</a>
            </div>
            <div class="table-responsive pb-4">
                <table id="all-student" class="table table-striped table-bordered border text-nowrap align-middle">
                    <thead class="table-dark">
        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.First().Wingno)-@Html.DisplayNameFor(model => model.First().Flatno)
                            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Typeofservice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requestdatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completedatetime)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Nameofworker)
            </th> *@
                           
                            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Wingno)-@Html.DisplayFor(modelItem => item.Flatno)
                                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Typeofservice)
            </td>
                                <td>
                                    @item.Requestdatetime.ToString("dd-MM-yyyy") <span>&nbsp;</span> @item.Requestdatetime.ToString("HH:mm:ss")
                                </td>
                                <td>
                                    @item.Completedatetime.ToString("dd-MM-yyyy") <span>&nbsp;</span> @item.Completedatetime.ToString("HH:mm:ss")
                                </td>

           @*  <td>
                @Html.DisplayFor(modelItem => item.Nameofworker)
            </td> *@
                              
                                <td>
                                    <a asp-action="ServiceEdit" asp-route-id="@item.Uid" class="text-primary">
                                        <i class="ti ti-pencil fs-7"></i>
                                    </a>
                                    <a asp-action="Details" asp-route-id="@item.Uid" class="text-success ms-2">
                                        <i class="ti ti-eye fs-7"></i>
                                    </a>
                                    <a asp-action="DeleteService" asp-route-id="@item.Uid" class="text-danger ms-2" onclick="return confirm('Are you sure you want to delete this service?')">
                                        <i class="ti ti-trash fs-7"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        </div>
        <style>
            /* Enhance table design */
            table {
                border-collapse: collapse;
                width: 100%;
            }

            .table thead th {
                text-transform: uppercase;
                text-align: center;
            }

            .table td,
            .table th {
                text-align: left;
                vertical-align: middle;
            }

            .btn {
                text-transform: uppercase;
                font-size: 0.875rem;
            }

            .container h1 {
                color: #333;
            }
        </style>

