@model IEnumerable<WebApplication3.Models.Expense>

@{
    ViewData["Title"] = "ExpenseView";
    Layout = "~/Views/Shared/secretary.cshtml";
}

<div class="container py-5">

    <div class="card">
        <div class="card-body">
            <div class="mb-4 pb-2 align-items-center">
                <h5 class="mb-0">Expense List</h5>
                <br />
                <a asp-action="ExpeseCreate" class="btn btn-primary">Add Expense</a>
            </div>
            <div class="table-responsive pb-4">
                <table id="all-student" class="table table-striped table-bordered border text-nowrap align-middle">
                    <thead class="table-dark">
                        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Edate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paymentmode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
             
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                                <td>@item.Edate.ToString("dd-MM-yyyy")</td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paymentmode)
            </td>
            <td>
                                    ₹   @Html.DisplayFor(modelItem => item.Amount)
            </td>
           
         
                <td>
                    <a asp-action="ExpenseEdit" asp-route-id="@item.Eid" class="text-primary">
                        <i class="ti ti-pencil fs-7"></i>
                    </a>
                                    <a asp-action="Details" asp-route-id="@item.Eid" class="text-success ms-2">
                        <i class="ti ti-eye fs-7"></i>
                    </a>
                                    <a asp-action="ExpenseDelete" asp-route-id="@item.Eid" onclick="return confirm('Are you sure you want to delete this user?')" class="text-danger ms-2">
                        <i class="ti ti-trash fs-7"></i>
                    </a>
                </td>
                </tr>
                }
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    /* Enhance table design */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    .table thead th {
        text-transform: uppercase;
        text-align: center;
    }

    .table td,
    .table th {
        text-align: left;
        vertical-align: middle;
    }

    .btn {
        text-transform: uppercase;
        font-size: 0.875rem;
    }

    .container h1 {
        color: #333;
    }
</style>
