@model IEnumerable<WebApplication3.Models.Notice>

@{
    ViewData["Title"] = "Notice Management";
    Layout = "~/Views/Shared/secretary.cshtml";
}
<div class="container py-5">

    <div class="card">
        <div class="card-body">
            <div class="mb-4 pb-2 align-items-center">
                <h5 class="mb-0">Notice History</h5>
                <br />
                <a asp-action="NotceCreate" class="btn btn-primary">Add Notice</a>
            </div>
            <div class="table-responsive pb-4">
                <table id="all-student" class="table table-striped table-bordered border text-nowrap align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th style="width: 40%;">@Html.DisplayNameFor(model => model.Details)</th>
                            <th style="width: 20%;">@Html.DisplayNameFor(model => model.Ndate)</th>
                            <th style="width: 20%;">@Html.DisplayNameFor(model => model.Type)</th>
                            <th class="text-center" style="width: 20%;">Actions</th>
                            @* <th>@Html.DisplayNameFor(model => model.Details)</th>
                            <th>@Html.DisplayNameFor(model => model.Ndate)</th>
                            <th>@Html.DisplayNameFor(model => model.Type)</th>
                            <th class="text-center">Actions</th> *@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="wrap-text">@Html.DisplayFor(modelItem => item.Details)</td>
                                @*  <td>@Html.DisplayFor(modelItem => item.Ndate)</td> *@
                                <td>@item.Ndate.ToString("dd-MM-yyyy")</td>

                                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                                <td>
                                    <a asp-action="NoticeEdit" asp-route-id="@item.Nid" class="text-primary">
                                        <i class="ti ti-pencil fs-7"></i>
                                    </a>
                                    <a asp-action="Details" asp-route-id="@item.Nid" class="text-success ms-2">
                                        <i class="ti ti-eye fs-7"></i>
                                    </a>
                                    <a asp-action="NoticeDelete" asp-route-id="@item.Nid" onclick="return confirm('Are you sure you want to delete this user?')" class="text-danger ms-2">
                                        <i class="ti ti-trash fs-7"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<style>
    /* Enhance table design */
    table {
        border-collapse: collapse;
        width: 100%;
    }



    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
        word-wrap: break-word; /* Ensures text wrapping */
        white-space: normal; /* Allows multi-line content */
    }

    .table thead th {
        text-transform: uppercase;
        text-align: center;
    }

    .table td,
    .table th {
        text-align: left;
        vertical-align: middle;
    }

    .wrap-text {
        white-space: normal;
        word-wrap: break-word;
        text-align: left;
    }

    .btn {
        text-transform: uppercase;
        font-size: 0.875rem;
    }

    .container h1 {
        color: #333;

    }
</style>
